<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a {
            text-decoration: none;
        }
        .links-container {
            display: inline-block;
            margin-right: 80px;
        }
    </style>
</head>
<body>

<p style="background:gray; color:white; border-radius: 10px 10px 10px 10px; font-size:27px;">Rent Car Admin</p>

<div class="links-container">
    <a href="/people/index/0" style="font-size: 32px;">Clients</a>
</div>

<div class="links-container">
    <a href="/cars/index/0" style="font-size: 32px;">Cars</a>
</div><br><br>

<div class="links-container">
    <a href="javascript:history.back()" style="font-size: 22px;">Back</a>
</div>

<h3>Info</h3>
<p th:text="'First name: ' + ${person.getFirstName()}"></p>
<p th:text="'Last name: ' + ${person.getLastName()}"></p>
<p th:text="'Passport: ' + ${person.getPassport()}"></p>
<p th:text="'Driving license: ' + ${person.getDrivingLicense()}"></p>
<p th:text="'Date of birth: ' + ${person.getDateOfBirth()}"></p>
<p th:text="'Sex: ' + ${person.getSex()}"></p>

<hr>

<h3 th:if="${!cars.isEmpty()}">Cars:</h3>
<div th:each="car : ${cars}">
    <a th:href="@{/cars/{id}(id=${car.getId()})}"
       th:text="${car.getMark() + ' ' + car.getModel() + ': ' + car.getLicensePlate()}">
        car
    </a>
    <hr/>
</div>

<h4 th:if="${cars.isEmpty()}">No rentals cars</h4>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="EDIT">
</form><br>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="DELETE">
</form>

</body>
</html>